@font-face {
  font-family: 'font-medium';
  src: url('/css/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'font-regular';
  src: url('/css/fonts/Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(32,33,37);
  color: white;
  font-family: 'font-medium';
  position: relative;
}

.container-instagram {
  background: rgb(51, 51, 51);
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 200px;
  border-radius: .2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-instagram a {
  text-decoration: none;
  color: white;
}

#section1 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 200px;
  height: 200px;
}

#section2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#section2 button {
  height: 50px;
  width: 80vw;
  margin-bottom: 30px;
  outline: none;
  background: rgb(51,51,51);
  border: none;
  color: #fff;
  font-family: 'font-medium';
  border-radius: .3rem;
}

#section2 button:focus {
  background: rgb(102,102,102);
}

@media screen and (max-device-width: 900px) { 
  .container-instagram {
    width: 150px;
  }
}